<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Brainvire_Uiforms::uiforms_menu" 
        title="Uiforms" 
        module="Brainvire_Uiforms" 
        sortOrder="10"
        resource="Brainvire_Uiforms::uiforms_menu" />
        <add id="Brainvire_Uiforms::uiforms_sub_menu" 
        title="Xml"
        module="Brainvire_Uiforms" 
        sortOrder="10" 
        action="import/index/index" 
        parent="Brainvire_Uiforms::uiforms_menu" 
        resource="Brainvire_Uiforms::uiforms_sub_menu" />
    </menu>
</config>
