<?xml version="1.0" encoding="UTF-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <add id="Customer_Dataphoto::image" title="Image" module="Customer_Dataphoto" parent="Customer_Dataphoto::menu" sortOrder="20" action="Dataphoto/index/index"/>
</menu>
