<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <!-- Data Source will be mentioned in listing xml -->
                <item name="sample_listing_data_source" xsi:type="string">Brainvire\SampleGrid\Model\ResourceModel\Custom\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Brainvire\SampleGrid\Model\ResourceModel\Custom\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <!-- Table name to insert data and listing data -->
            <argument name="mainTable" xsi:type="string">bv_uigrid_custom</argument>
            <!-- Resource model name -->
            <argument name="resourceModel" xsi:type="string">Brainvire\SampleGrid\Model\ResourceModel\Custom\Collection</argument>
        </arguments>
    </virtualType>
    <!--
/**
 * Created By : Rohan Hapani
 */
-->
<!-- Image Uploader -->
<virtualType name="VirtualTypeName" type="Magento\Catalog\Model\ImageUploader">
   <arguments>
      <argument name="baseTmpPath" xsi:type="string">logo/image</argument>
      <argument name="basePath" xsi:type="string">logo/image</argument>
      <argument name="allowedExtensions" xsi:type="array">
         <item name="jpg" xsi:type="string">jpg</item>
         <item name="jpeg" xsi:type="string">jpeg</item>
         <item name="gif" xsi:type="string">gif</item>
         <item name="png" xsi:type="string">png</item>
      </argument>
   </arguments>
</virtualType>
<type name="Brainvire\SampleGrid\Controller\Adminhtml\Post\Uploader">
   <arguments>
      <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
   </arguments>
</type>
<!-- End Image Uploader -->
</config>