<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contactus_post_listing_data_source" xsi:type="string">Brainvire\ContactForm\Model\ResourceModel\Contact\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Brainvire\ContactForm\Model\ResourceModel\Contact\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">brainvire_contact_queries</argument>
            <argument name="resourceModel" xsi:type="string">Brainvire\ContactForm\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
</config>