<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product" type="Database\Check\Model\Product" />
    <type name="Magento\Quote\Model\Quote">
        <plugin name="Change_cart" type="Database\Check\Plugin\PriceChg" sortOrder="10" />
    </type>
</config>
